@model VocabularyListViewModel
           
<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <span>Vocabulary</span>

            <div class="header-menu">
                
                <div class="add-button summary">
                    <span class="count"></span>
                    <div class="not-added"></div>
                </div>

                <div id="main-header-menu">
                    <div class="search-box">
                        <div class="col-xs-7">
                            <input type="text" id="search" />
                        </div>
                        <a class="btn btn-default" href="javascript:void(0)" id="add-phrase">Add new</a>
                    </div>
                    <div class="language">
                        <div class="col-xs-6">
                            @Html.DropDownList("phrase-language", Model.Languages, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownList("translation-language", Model.Languages, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="phrase-type btn-group">
                        <div class="btn btn-default selected">All</div>
                        <div class="btn btn-default">Word</div>
                        <div class="btn btn-default">Phrase</div>
                        <div class="btn btn-default">Sentence</div>
                    </div>

                    <div class="learning-state btn-group">
                        <div class="btn btn-default selected">All</div>
                        <div class="btn btn-default">
                            <div class="unknown"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="first"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="known"></div>
                        </div>
                    </div>
                </div>
                
                <div id="selected-header-menu" style="display: none">

                    <div class="learning-state btn-group" id="">
                        <div class="btn btn-default">
                            <div class="unknown"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="first"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="second"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="third"></div>
                        </div>
                        <div class="btn btn-default">
                            <div class="known"></div>
                        </div>
                    </div>
                    <div class="btn btn-default">
                        <div class="remove-button" title="Remove selected phrases from vocabulary">
                        </div>
                    </div>

                    </div>
            </div>

            
            <div id="loading-container" class="alert-info" style="display: none;">loading...</div>
        </div>
        
        <div class="container container-fluid">
            @for (var i = 0; i < @Model.Phrases.Count; i++)
            {
                var phrase = @Model.Phrases[i];
                var translation = @Model.Translations[i];

                <div class="phrase-container">
                    <div class="add-button" data-phrase-id="@phrase.Id">
                        <div class="not-added"></div>
                    </div>

                    <div class="audio">
                        <img src="~/Content/soundIcon.png" style="width: 25px; height: 25px;" onclick="playAudio('audio-@phrase.Id.ToString()')" />

                        <audio id="audio-@phrase.Id.ToString()">
                            <source src="@Url.Action("GetUsersPhraseAudio", new {id = phrase.Id})" />
                        </audio>
                    </div>

                    <div class="content-container" data-phrase-id="@phrase.Id" 
                         data-lang-id="@phrase.LanguageId" data-trans-lang-id="@translation.LanguageId">

                        <div class="phrase">@phrase.Phrase</div>

                        @if (!string.IsNullOrEmpty(phrase.Transcription))
                        {
                            <div class="transcription">@phrase.Transcription</div>
                        }
                        —
                        <div class="translation">
                            @translation.TranslationPhrase
                        </div>
                    </div>

                    <div class="information">
                        @if (phrase.GlossaryId != null)
                        {
                            <div class="glossary-info" data-glossary-id="@phrase.GlossaryId">
                                <a href="javascript:void(0)" title="@phrase.GlossaryName">@phrase.GlossaryName</a>
                            </div>
                        }
                        
                        <div class="remove-button" data-phrase-id="@phrase.Id" title="Remove phrase from vocabulary">
                        </div>

                        <div class="learning-state" title="learning state: @(phrase.LearningState*100)%">
                            @switch ((int) (phrase.LearningState*100))
                            {
                                case 0:
                                    <div class="unknown"></div>
                                    break;
                                case 25:
                                    <div class="first"></div>
                                    break;
                                case 50:
                                    <div class="second"></div>
                                    break;
                                case 75:
                                    <div class="third"></div>
                                    break;
                                case 100:
                                    <div class="known"></div>
                                    break;
                            }
                        </div>

                        @if (phrase.Frequency != null)
                        {
                            <div class="frequency" title="word rank">@phrase.Frequency</div>
                        }
                       
                    </div>
                </div>
            }
        </div>
        
        <div class="pop-up-widget" style="display: none">
            <div class="pop-up-widget background"></div>
            <div class="container widget-glossary-container">
                
                <div class="remove-button" data-phrase-id="" title="Remove phrase from vocabulary">
                    
                </div>

                <div class="widget-phrase-container">
                    <div class="phrase"></div>

                    <div class="audio" onclick='playAudio("widget-audio")'>
                        <img src="~/Content/soundIcon.png" style="width: 25px; height: 25px;" />
                        <div class="transcription"></div>
                        <audio id="widget-audio"></audio>
                    </div>
                    —
                    <div class="translation"></div>
                    <div class="frequency" title="word rank"></div>
                </div>

                <div class="widget-examples-container">
                    <h1>Examples:</h1>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Phrase</th>
                                <th>Translation</th>
                                <th>Audio</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <a class="left-button" href="javascript: void(0)"></a>
            <a class="right-button" href="javascript: void(0)"> </a>
        </div>

    </div>
</div>