@model RegistrationViewModel

@{
    ViewBag.Title = "Регистрация";
}

@section header
{
    @{ Html.RenderPartial("PartialGuestHeader");}
}

<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <h1>Быстрая регистрация</h1>
        </div>
        <div class="form-container">
            @using (Html.BeginForm())
            {
                <div class="field-container auth-field">
                    <div class="logo logo-username"></div>
                    @Html.TextBoxFor(x => x.UserName, new {placeholder = "Username"})
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <div class="field-container auth-field">
                    <div class="logo logo-email"></div>
                    @Html.TextBoxFor(x => x.Email, new {placeholder = "Email"})
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="field-container auth-field">
                    <div class="logo logo-password"></div>
                    @Html.PasswordFor(x => x.Password, new {placeholder = "Password"})
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="field-container auth-button">
                    <input type="submit" value="Зарегистрироваться" />
                </div>
            }
        </div>
    </div>
</div>
