@using System.Collections
@model PhraseViewModel

@{
    ViewBag.Title = "Добавить новую фразу";
    
    ArrayList l = new ArrayList(Enum.GetValues(typeof(PhraseType)));
    l.RemoveAt(l.Count - 1); 
    var list = new SelectList(l);
}

<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <h1>Добавление новой фразы</h1>
        </div>
        <div class="form-container">
            @using (Html.BeginForm("AddNewGlobalPhrase", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="field-container ">
                    @Html.TextBoxFor(x => x.GlobalPhrase.Phrase, new { placeholder = "Phrase", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.GlobalPhrase.Phrase)
                </div>
                <div class="field-container ">
                    @Html.LabelFor(x => x.SelectedPhraseType)
                    @Html.DropDownListFor(x => x.SelectedPhraseType, list, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.GlobalPhrase.PhraseType)
                </div>
                <div class="field-container ">
                    @Html.LabelFor(x => x.SelectedLanguage)
                    @Html.DropDownListFor(x => x.SelectedLanguage, Model.Languages, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.SelectedLanguage)
                </div>
                
                <div class="field-container ">
                    @Html.TextBoxFor(x => x.GlobalPhrase.Transcription, 
                                    new { placeholder = "Transcription", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.GlobalPhrase.Transcription)
                </div>
                <div class="field-container ">
                    @Html.TextBoxFor(x => x.GlobalPhrase.Frequency, 
                                    new { placeholder = "Frequency(only for words)", type = "number",@class = "form-control" })
                    @Html.ValidationMessageFor(x => x.GlobalPhrase.Frequency)
                </div>
                <div class="field-container ">
                    <label for="audio">Audio file:</label>
                    <input type="file" id="audio" value="Open" name="audio"/>
                    <audio id="audio-preview" style="display: none">
                        <source src="" type="audio/mpeg"/>
                    </audio>
                </div>
                <div class="field-container">
                    <input type="submit" class="btn btn-default" value="Добавить фразу" />
                </div>
            }
        </div>
    </div>
</div>