@model GlossaryListViewModel

<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <span>@GlobalRes.Glossaries</span>
            <span id="language" style="display: none">@Model.SelectedLanduage</span>
            <div class="language-container">
                <ul id="glossary-language-menu">
                    <li>
                        <a id="1" href="javascript: void(0)" title="@GlobalRes.SelectedGlossaryLanguage">
                            <div class="language-logo english-logo"></div>
                        </a>

                        <ul class="list" id="list-glossary">
                            <li>
                                <a id="1" href="javascript: void(0)"
                                   title="@GlobalRes.SelectGlossaryEnLanguage">
                                    <div class="language-logo english-logo"></div>
                                </a>
                            </li>
                            <li>
                                <a id="2" href="javascript: void(0)"
                                   title="@GlobalRes.SelectGlossaryUkLanguage">
                                    <div class="language-logo ukrainian-logo"></div>
                                </a>
                            </li>
                            <li>
                                <a id="3" href="javascript: void(0)"
                                   title="@GlobalRes.SelectGlossaryRuLanguage">
                                    <div class="language-logo russian-logo"></div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <span>/</span>
                <ul id="translation-language-menu">
                    <li>
                        <a id="3" href="javascript: void(0)" title="@GlobalRes.SelectedTranslationLanguage">
                            <div class="language-logo russian-logo"></div>
                        </a>

                        <ul class="list" id="list-translation">
                            <li>
                                <a id="1" href="javascript: void(0)"
                                   title="@GlobalRes.SelectTranslationEnLanguage">
                                    <div class="language-logo english-logo"></div>
                                </a>
                            </li>
                            <li>
                                <a id="2" href="javascript: void(0)"
                                   title="@GlobalRes.SelectTranslationUkLanguage">
                                    <div class="language-logo ukrainian-logo"></div>
                                </a>
                            </li>
                            <li>
                                <a id="3" href="javascript: void(0)"
                                   title="@GlobalRes.SelectTranslationRuLanguage">
                                    <div class="language-logo russian-logo"></div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="loading-container" class="alert-info" style="display: none;">@GlobalRes.Loading</div>
        </div>

        <div class="layout-collumn container-fluid">
            <div id="glossaries-container">
                @foreach (var glossary in Model.Glossaries)
                {
                    var lang = @Model.Languages[glossary.LanguageId.ToString()];
                    <div class="glossary-container" >
                        <a id="@glossary.Id" href="javascript:void(0)" onclick="onclickEvent(event)"
                           title="@GlobalRes.OpenGlossary">
                        <img src="@Url.Action("GetGlossaryIcon", new { id = glossary.Id })" />
                        <span>@glossary.Name</span>
                        <span class="count">@glossary.Count @GlobalRes.Words</span>
                        <span class="language">@lang</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
