<div class="header">
    <div class="layout-positioner">

        <div class="layout-collumn">
            <p class="info">@GlobalRes.SignInAs <span>@User.Identity.Name</span></p>
            <a class="button" href="@Url.Action("SignOut", "Account")" title="@GlobalRes.SignOut">
                @GlobalRes.SignOut
            </a>
        </div>

        <div class="layout-collumn-left">
            <a class="main-logo" href="@Url.Action("Glossaries", "Glossary")">
                <img src="~/Content/glossary-logo.png" alt="@GlobalRes.Logo" />
            </a>
            <ul class="main-menu">
                <li><a class="btn btn-default" title="@GlobalRes.UserGlossariesTitle"
                        href="@Url.Action("Glossaries", "Glossary")">@GlobalRes.Glossaries</a></li>
                <li><a class="btn btn-default" title="@GlobalRes.VocabularyTitle"
   href="@Url.Action("Vocabulary", "Vocabulary")">@GlobalRes.Vocabulary</a></li>
            </ul>
        </div>
    </div>
</div>