@model GlossaryViewModel

@{
    ViewBag.Title = "Добавить новый глоссарий";
}

@section header
{
    @{ Html.RenderPartial("PartialAdminHeader");}
}

<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <h1>Добавление нового глоссария</h1>
        </div>
        <div class="form-container">
            @using (Html.BeginForm("EditGlossary", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="field-container ">
                    @Html.TextBoxFor(x => x.Glossary.Name, new { placeholder = "Name", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Glossary.Name)
                </div>
                <div class="field-container ">
                    @Html.LabelFor(x => x.SelectedLanguage)
                    @Html.DropDownListFor(x => x.SelectedLanguage, Model.Languages, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SelectedLanguage)
                </div>
                
                <div class="field-container">
                    <label for="image">Image file:</label>
                    <input type="file" id="image" name="image" onchange="previewImage(this)"/>
                    <img style="display: none" id="imagePreview"/>
                </div>
                
                <div class="field-container">
                    <input type="submit" class="btn btn-default" value="Добавить глоссарий" />
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.main-menu li:first-child a').addClass("selected");
        $('.main-menu li:last-child a').removeClass("selected");
    </script>
    <script src="~/Scripts/Users/previewImage.js"></script>
}
