@model ParsePhraseViewModel
@{
    ViewBag.Title = "Add phrases by parse";
}

@section header
{
    @{ Html.RenderPartial("PartialAdminHeader");}
}

<div class="main">
    <div class="layout-positioner">
        <div class="main-header">
            <h1>Добавление новых фраз с помощью парсинга веб-страниц</h1>
        </div>
        <div class="form-container">
            @using (Html.BeginForm())
            {
                <div class="field-container">
                    @Html.LabelFor(x => x.PhraseLanguage);
                    @Html.DropDownListFor(x => x.PhraseLanguage, Model.Languages, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PhraseLanguage)
                </div>
                <div class="field-container">
                    @Html.LabelFor(x => x.TranslationLanguage);
                    @Html.DropDownListFor(x => x.TranslationLanguage, Model.Languages, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TranslationLanguage)
                </div>

                <div>
                    @Html.LabelFor(x => x.ParseString);
                    @Html.TextAreaFor(x => x.ParseString,
                        new { placeholder = "template: {sentence} — {translation} \n", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ParseString)
                </div>

                <div class="field-container">
                    <input type="submit" class="btn btn-default" value="Начать парсинг" />
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var $pl = $('#PhraseLanguage');
        var $tl = $('#TranslationLanguage');
        $tl.val(3);
        $pl.change(function() {
            if ($pl.val() == $tl.val()) {
                $tl.val($pl.val()+1);
            }
        });
        $tl.change(function () {
            if ($pl.val() == $tl.val()) {
                $tl.val($pl.val() + 1);
            }
        });
    </script>
}