@model GlobalListViewModel

@{
    ViewBag.Title = "ExampleMainPage";
}

@section header
{
    @{Html.RenderPartial("PartialAdminHeader");}
}

<div class="main">
    <div class="layout-positioner">

        <div class="main-header">
            @if (TempData.ContainsKey("Success"))
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }
            @if (TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger">@TempData["Error"]</div>
            }
            
            <span>Examples for: @Session["GlobalPhrase"]</span>
            
            <div class="navigation-menu">
                @Html.ActionLink("Back to Phrases", "MainPage", null, new { @class = "left btn-primary", title = "Back to main page" })

                @Html.ActionLink("Add Example", "AddExample", new { phraseId = Session["GlobalPhraseId"] }, 
                    new { @class = "btn-default", title="Add new example"})
                @Html.ActionLink("Parse Examples", "AddExamplesByParse", new { phraseId = Session["GlobalPhraseId"] }, 
                    new { @class = "btn-default", title = "Add new examples by parsing string" })
            </div>
        </div>

        <div class="layout-collumn container-fluid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>GlobalPhraseID</th>
                        <th>Phrase</th>
                        <th>GlobalTranslationID</th>
                        <th>Translation</th>
                        <th>Audio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var example in Model.GlobalExamples)
                    {
                        <tr>
                            <td>@example.Id</td>
                            <td>@example.GlobalPhraseId</td>
                            <td style="text-align: left">@example.Phrase</td>
                            <td>@example.GlobalTranslationId</td>
                            <td style="text-align: left">@example.Translation</td>
                            <td>
                                <img src="~/Content/soundIcon.png" style="width: 25px; height: 25px;" onclick="playAudio(@example.Id.ToString())" />

                                <audio id="@example.Id.ToString()">
                                    <source src="@Url.Action("GetExampleAudio", new {id = example.Id})"/>
                                </audio>
                            </td>
                            <td>
                                <div class="word-editor">
                                    @Html.ActionLink("Edit", "EditExample", new { id = example.Id }, new { title = "Edit Example" })
                                    <a href="javascript:void(0)" class="delete-button" title="Delete Example" data-example-id=@example.Id>Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Action("GetExamplesNavigation")
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Users/mainPage.js"></script>
    <script>
        $('.delete-button').click(function(e) {
            var t = $(e.currentTarget);
            var id = t.attr('data-example-id');
            $.ajax({
                type: "POST",
                url: "/Admin/DeleteExample?id=" + id,
                success: function(data) {
                    t.parents('tr').remove();
                }
            });
        })
    </script>
}