@model GlobalListViewModel

@{
    ViewBag.Title = "ExampleMainPage";
}

@section header
{
    @{Html.RenderPartial("PartialAdminHeader");}
}

<div class="main">
    <div class="layout-positioner">

        <div class="main-header">
            @if (TempData.ContainsKey("Success"))
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }
            @if (TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger">@TempData["Error"]</div>
            }
            
            <span>Examples for: @Session["GlobalPhrase"]</span>
            
            <div class="navigation-menu">
                @Html.ActionLink("Back to Phrases", "MainPage", null, new { @class = "left btn-primary", title = "Back to main page" })

                @Html.ActionLink("Add Example", "AddExample", new { phraseId = Session["GlobalPhraseId"] }, new { @class = "btn-default", title="Add new example"})
            </div>
        </div>

        <div class="layout-collumn layout-collumn-menu">

        </div>

        <div class="layout-collumn layout-collumn-main container-fluid">
            <div class="words-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>GlobalPhraseID</th>
                            <th>Phrase</th>
                            <th>GlobalTranslationID</th>
                            <th>Translation</th>
                            <th>Audio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var example in Model.GlobalExamples)
                        {
                            <tr>
                                <td>@example.Id</td>
                                <td>@example.GlobalPhraseId</td>
                                <td style="text-align: left">@example.Phrase</td>
                                <td>@example.GlobalTranslationId</td>
                                <td style="text-align: left">@example.Translation</td>
                                <td>
                                    <img src="~/Content/soundIcon.png" style="width: 25px; height: 25px;" onclick="playAudio(@example.Id.ToString())" />

                                    <audio id="@example.Id.ToString()">
                                        <source src="@Url.Action("GetExampleAudio", new {id = example.Id})"/>
                                    </audio>
                                </td>
                                <td>
                                    <div class="word-editor">
                                        @Html.ActionLink("Edit", "EditExample", new { id = example.Id }, new { title = "Edit Example" })
                                        @Html.ActionLink("Delete", "DeleteExample", new { id = example.Id }, new { title = "Delete Example" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Action("GetExamplesNavigation")
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Users/mainPage.js"></script>
}