@model GlobalListViewModel
@{
    ViewBag.Title = "Translations MainPage";
}

@section header
{
    @{Html.RenderPartial("PartialAdminHeader");}
}

<div class="main">
    <div class="layout-positioner">

        <div class="main-header">
            @if (TempData.ContainsKey("Success"))
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }
            @if (TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger">@TempData["Error"]</div>
            }
            
            <span>Translations for: @Session["GlobalPhrase"]</span>

            <div class="navigation-menu">
                @Html.ActionLink("Back to Phrases", "MainPage", null, new { @class = "left btn-primary", title = "Add new translation" })

                @Html.ActionLink("Add Translation", "AddTranslation",
                                  new { phraseId = @Session["GlobalPhraseId"] }, new { @class = "btn-default", title = "Add new translation" })
            </div>
        </div>

        <div class="layout-collumn layout-collumn-menu">

        </div>

        <div class="layout-collumn layout-collumn-main container-fluid">
            <div class="words-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Translation</th>
                            <th>GlobalPhraseID</th>
                            <th>LanguageID</th>
                            <th>Language</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var word in Model.GlobalTranslations)
                        {
                            <tr>
                                <td>@word.Id</td>
                                <td>@word.TranslationPhrase</td>
                                <td>@word.GlobalPhraseId</td>
                                <td>@word.LanguageId</td>
                                <td>@Model.Languages[word.LanguageId]</td>
                                <td>
                                    <div class="word-editor">
                                        @Html.ActionLink("Edit", "EditTranslation", new { id = word.Id }, new { title = "Edit translation" })
                                        @Html.ActionLink("Delete", "DeleteTranslation", new { id = word.Id }, new { title = "Delete translation" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Action("GetTranslationsNavigation")
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Users/mainPage.js"></script>
}
